albumentations==1.1.0
asgiref==3.5.2
backports.zoneinfo==0.2.1
cachetools==5.1.0
certifi==2022.5.18.1
charset-normalizer==2.0.12
colorama==0.4.4
Django==3.2.13
django-environ==0.8.1
django-storages[google]==1.12.3
flatbuffers==2.0
google-api-core==2.8.1
google-auth==2.6.6
google-cloud-secret-manager==2.11.0
googleapis-common-protos==1.56.2
grpc-google-iam-v1==0.12.4
grpcio==1.46.3
grpcio-status==1.46.3
idna==3.3
imageio==2.19.2
joblib==1.1.0
networkx==2.6.3
numpy==1.21.6
onnx==1.11.0
onnxruntime==1.11.1
opencv-python-headless==4.5.5.64
packaging==21.3
Pillow==9.0.1
proto-plus==1.20.5
protobuf==3.20.1
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.9
pytz==2022.1
PyWavelets==1.3.0
PyYAML==6.0
qudida==0.0.4
requests==2.27.1
rsa==4.8
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.7.3
six==1.16.0
sqlparse==0.4.2
threadpoolctl==3.1.0
tifffile==2021.11.2
torch==1.11.0
tqdm==4.64.0
typing-extensions==4.2.0
urllib3==1.26.9
wincertstore==0.2
gunicorn==20.1.0
